<div class="text-center">
  <div class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Вход в систему</h1>

    <label for="inputPhone" class="sr-only">Ваш телефон:</label>
    <input [(ngModel)]="UserPhoneNumber" id="inputPhone" class="form-control form-control-sm"
           placeholder="ваш телефон" required="" autofocus="">

    <label for="inputPassword" class="sr-only">Ваш пароль</label>
    <input [(ngModel)]="Password" type="password" id="inputPassword" class="form-control form-control-sm"
           placeholder="ваш пароль" required="">

    <button class="btn btn-sm btn-secondary btn-block" type="submit" (click)="Login();"
            [ngClass]="{'disabled': isLoading}">
      <img src="assets\images\loader.gif" class="loaderGif" [style.visibility]="isLoading ? 'visible' : 'hidden'" />
      <i class="glyphicon glyphicon-log-in"></i>
      Войти
    </button>
    <nav>
      <a routerLink="/register">Нет учётной записи?</a>
    </nav>
  </div>
</div>
