<div class="modal-header">
  <h6 class="modal-title">Редактирование товара</h6>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">название</span>
      </div>
      <input type="text" class="form-control" aria-label="название" aria-describedby="inputGroup-sizing-sm"
             [(ngModel)]="editedGoodCategory.name">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">описание</span>
      </div>
      <textarea class="form-control" aria-label="описание" [(ngModel)]="editedGoodCategory.description"></textarea>
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Путь к картинке</span>
      </div>
      <input type="text" class="form-control" aria-label="путь к картинке" aria-describedby="inputGroup-sizing-sm"
             [(ngModel)]="editedGoodCategory.imageUrl">
    </div>
  </div>

</div>
<div class="modal-footer">
  <img src="assets\images\loader.gif" class="loaderGif" [style.visibility]="isLoading ? 'visible' : 'hidden'" />
  <button type="button" class="btn btn-sm btn-outline-dark" [ngClass]="{'disabled': isLoading}" (click)="SaveAndClose()">
    сохранить
  </button>
  <button type="button" class="btn btn-sm btn-outline-dark" (click)="Close()">закрыть</button>
</div>
