<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group btn-group-sm mr-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-sm btn-secondary" (click)="AddGood()">
      <i class="glyphicon glyphicon-plus"></i>
      добавить
    </button>
  </div>
  <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Second group" (click)="LoadGoods()">
    <button type="button" class="btn btn-sm btn-secondary">
      <i class="glyphicon glyphicon-refresh"></i>
      обновить
    </button>
  </div>
</div>

<img src="assets\images\loader.gif" class="loaderGif" [style.visibility]="isLoading ? 'visible' : 'hidden'" />

<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Описание</th>
      <!--<th scope="col"></th>-->
      <th class="goodActions" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let good of goods" >
      <td>{{good.name}}</td>
      <td>{{good.description}}</td>

      <!--<td class="carouselColumn">-->
        <!--<ngb-carousel class="carouselInTable">-->
          <!--<ng-template ngbSlide *ngFor="let imageUri of good.imageUris">-->
            <!--<img class="carouselImage" [src]="imageUri">-->
          <!--</ng-template>-->
        <!--</ngb-carousel>-->
      <!--</td>-->
      <td>
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary" (click)="EditGood(good.id)" placement="top"
                  ngbTooltip="редактировать">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
          <button type="button" class="btn btn-secondary" placement="top" ngbTooltip="удалить"  placement="top"
                  ngbTooltip="удалить" (click)="RemoveGood(good.id)">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
