<configuration>
  <system.web>
    <httpRuntime maxQueryStringLength="32768" maxUrlLength="65536"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768"/>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match ignoreCase="true" url="^(.*)$"/>
          <conditions logicalGrouping="MatchAll">
            <add ignoreCase="true" input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern=""/>
          </conditions>
          <action appendQueryString="true" type="Rewrite" url="/"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>